<h1>Add</h1>
<p><%= @headlines.text %></p>
<%= @place %>

<%= form_for(:content, :url => {:action => 'add', :headline => @headlines, :place => @place},:html =>{:multipart => true}) do |f| %>
  <%= f.text_field(:text) %>
     <div class="form-buttons">
      <%= submit_tag('Create comment') %>
    </div>

  <% end %>