<h1>Add</h1>
<p><%= @subject.text %></p>


<%= form_for(:head_line, :url => {:action => 'sadd', :subject => @subject.id},:html =>{:multipart => true}) do |f| %>

     <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>



     <div class="form-buttons">
      <%= submit_tag('Create comment') %>
    </div>

  <% end %>