<h1>Selected</h1>





<% if @switch == "s" %>
 

 <p> subject </p>
  	 <%= @selected.text %>


  <% if @selected.head_lines.empty? %>
<p> empty </p>

 <%= link_to("+", {:action => 'subjectadd', :id => @selected.id}) %> 


   <% else %>

     <%= @selected.text %>

         <% @selected.head_lines.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>

 <p><%= link_to("+", {:action => 'subjectadd', :id => @selected.id}) %></p>
<p><%= link_to("up", {:action => 'subjectup', :id => r.id, :head => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'subjectdown', :id => r.id, :head => @selected.id}) %></p>
     <% end %>

     <% end %>



     <%elsif @switch == "h" %>
<p> head </p>
   
   	<% if @selected.contents.empty? %>
<p> empty </p>
   	 <%= @selected.text %>
 <%= link_to("+", {:action => 'contentadd', :id => @selected.id, :place => 0}) %> 


   <% else %>

   	 <%= @selected.text %>

  	   	 <% @selected.contents.sorted.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>
        <p>place </p>
      <%= r.place %>

 <p><%= link_to("+", {:action => 'contentadd', :id => @selected.id, :place => (r.place.to_i - 1)}) %></p>
<p><%= link_to("up", {:action => 'contentup', :id => r.id, :head => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'contentdown', :id => r.id, :head => @selected.id}) %></p>
     <% end %>

     <% end %>

     <%elsif @switch == "t" %>

<p> theme </p>
  <% if @selected.head_lines.empty? %>
<p> empty </p>
     <%= @selected.text %>
 <%= link_to("+", {:action => 'themeadd', :id => @selected.id}) %> 


   <% else %>

     <%= @selected.text %>

         <% @selected.head_lines.sorted.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>
 

 <p><%= link_to("+", {:action => 'themeadd', :id => @selected.id}) %></p>
<p><%= link_to("up", {:action => 'themeup', :id => r.id, :theme => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'themedown', :id => r.id, :theme => @selected.id}) %></p>
     <% end %>

     <% end %>


    <% end %>



