





<% if @switch == "s" %>
 

 <p> subject </p>
  	 <%= @selected.text %>


  <% if @selected.head_lines.empty? %>
<p> empty </p>

 <%= link_to("+", {:action => 'subjectadd', :id => @selected.id}) %> 


   <% else %>

     <%= @selected.text %>

         <% @selected.head_lines.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>

 <p><%= link_to("+", {:action => 'subjectadd', :id => @selected.id}) %></p>
<p><%= link_to("up", {:action => 'subjectup', :id => r.id, :head => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'subjectdown', :id => r.id, :head => @selected.id}) %></p>
     <% end %>

     <% end %>



     <%elsif @switch == "h" %>
<p> head </p>
   
   	<% if @selected.contents.empty? %>
<p> empty </p>
   	 <%= @selected.text %>
 <%= link_to("+", {:action => 'contentadd', :id => @selected.id, :place => 0}) %> 


   <% else %>

   	 <%= @selected.text %>

  	   	 <% @selected.contents.sorted.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>
        <p>place </p>
      <%= r.place %>

 <p><%= link_to("+", {:action => 'contentadd', :id => @selected.id, :place => (r.place.to_i - 1)}) %></p>
<p><%= link_to("up", {:action => 'contentup', :id => r.id, :head => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'contentdown', :id => r.id, :head => @selected.id}) %></p>
     <% end %>

     <% end %>

     <%elsif @switch == "t" %>

<p> theme </p>
  <% if @selected.head_lines.empty? %>
<p> empty </p>
     <%= @selected.text %>
 <%= link_to("+", {:action => 'themeadd', :id => @selected.id}) %> 


   <% else %>

     <%= @selected.text %>

         <% @selected.head_lines.sorted.each do |r| %>
    
<p>name </p>
      <%=  r.text %>
   <p>id </p>   
        <%= r.id %>
 

 <p><%= link_to("+", {:action => 'themeadd', :id => @selected.id}) %></p>
<p><%= link_to("up", {:action => 'themeup', :id => r.id, :theme => @selected.id}) %></p>
<p><%= link_to("dw", {:action => 'themedown', :id => r.id, :theme => @selected.id}) %></p>
     <% end %>

     <% end %>


    <% end %>

        
<body>

<div id="screen">
<div id="topbar">
<div id="logo"></div>
<div id="middle">
<div id="search"></div>
<div id="message">
  <%= form_for(:head_line, :url => {:action => 'create'},:html =>{:multipart => true}) do |f| %>
 
    <%= f.label :Add %>
    <%= f.text_field :text %>

     <div class="form-buttons">
      <%= submit_tag('Create comment') %>
    </div>

  <% end %>


</div>
</div>
<div id="admin">
<div id="burger"></div>
<div id="log">
  <%= link_to("Sign up", {:action => 'signup'},:class => 'buttons') %>
<%= link_to("Login", {:action => 'login'},:class => 'login-button') %>
</div>
</div>
</div>

<div id="theme">

   <% @theme.scored.first(5).each do |r| %>

<div id="subtheme">     <%= link_to(r.text, {:action => 'selecttheme', :id => r}) %> </div>

    <% end %>
</div>

<div id="main">
<div id="headline">


     <% @top.scored.first(1).each do |r| %>
   
   
   
  


<div id="title">     <%= link_to(r.text, {:action => 'selecthead', :id => r}) %> </div>


<div id="content">
<div id="text">
<div id="image"> <%= image_tag r.image_url, style: 'height:100%;width:100%;' if r.image? %>  </div>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>


</div>
    <% end %>

</div>



<div id="actions">
<div id="expand"></div>
<div id="up"></div>
<div id="down"></div>
<div id="add"></div>
<div id="share"></div>
</div>
</div>
<div id="breaking">
<div id="breakingtit"></div>
 <% @subs.first(9).each do |r| %>
<div id="breakingsub">
    
    <%= link_to(r.text, {:action => 'selectsub', :id => r}) %> 
      </div>   
      <% end %>

</div>
<div id="stories">
<div id="title"></div>


<div id="content">
<div id="text">
<div id="image"></div>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>


</div>


</div>



<div id="actionsmall">
<div id="expand"></div>
<div id="up"></div>
<div id="down"></div>
<div id="add"></div>
<div id="share"></div>
</div>


</div>

<div id="stories"><div id="title"></div>


<div id="content">
<div id="text">
<div id="image"></div>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>


</div>


</div>



<div id="actionsmall">
<div id="expand"></div>
<div id="up"></div>
<div id="down"></div>
<div id="add"></div>
<div id="share"></div>
</div></div>
<div id="stories"><div id="title"></div>


<div id="content">
<div id="text">
<div id="image"></div>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>


</div>


</div>



<div id="actionsmall">
<div id="score"></div>
<div id="expand"></div>
<div id="up"></div>
<div id="down"></div>
<div id="add"></div>
<div id="share"></div>
</div></div>
<div id="stories"><div id="title"></div>


<div id="content">
<div id="text">
<div id="image"></div>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>


</div>


</div>



<div id="actionsmall">
<div id="expand"></div>
<div id="up"></div>
<div id="down"></div>
<div id="add"></div>
<div id="share"></div>
</div></div>

</div>



</div>
</body>


