<h1>Main page</h1>

<%= flash[:notice] %>
<%= session[:username] %>
<%= session[:id] %>

<%= link_to("Sign up", {:action => 'signup'},:class => 'buttons') %>
<%= link_to("Login", {:action => 'login'},:class => 'login-button') %>


<%= form_for(:head_line, :url => {:action => 'create'},:html =>{:multipart => true}) do |f| %>
 <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
     <div class="form-buttons">
      <%= submit_tag('Create comment') %>
    </div>

  <% end %>

  	 <% @top.each do |r| %>
   
   <%= image_tag r.image_url if r.image? %>
        <td><%= link_to(r.text, {:action => 'selecthead', :id => r}) %> </td> 
      <% end %>

<p>subjects </p>

        	 <% @subs.each do |r| %>
     <td><%= link_to(r.text, {:action => 'selectsub', :id => r}) %> </td>
    
     
      <% end %>


<p>themes </p>

           <% @theme.each do |r| %>
     <td><%= link_to(r.text, {:action => 'selecttheme', :id => r}) %> </td>
    
     
      <% end %>


