<h1>Main page</h1>


<%= form_for(:head_line, :url => {:action => 'create'},:html =>{:multipart => true}) do |f| %>
  <%= f.text_field(:text) %>
     <div class="form-buttons">
      <%= submit_tag('Create comment') %>
    </div>

  <% end %>

  	 <% @top.each do |r| %>
   
        <td><%= link_to(r.text, {:action => 'selecthead', :id => r}) %> </td> 
      <% end %>

<p>subjects </p>

        	 <% @subs.each do |r| %>
     <td><%= link_to(r.name, {:action => 'selectsub', :id => r}) %> </td>
    
     
      <% end %>


<p>themes </p>

           <% @theme.each do |r| %>
     <td><%= link_to(r.name, {:action => 'selectsub', :id => r}) %> </td>
    
     
      <% end %>
